body {
    min-height: 100vh
}
.wrapper {
    max-width: 595px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    
}
.sidebar {
    padding: 25px;
    grid-area: sidebar;
}